<div class="card mb-4">
    <img class="card-img-top" src="{{image}}" alt="Card image cap" width="400">
    <div class="card-body">
        <h4 class="card-title">{{title}}</h4>
        <small class="float-right">Enrolled: {{usersEnroled.length}}</small>
    </div>
</div>





{{!-- <a href="/hotel/{{_id}}/details" class="added-hotel">
    <img src="{{image}}" alt="image" class="picture-added-hotel">
    <h3>{{name}} {{city}}</h3>
    <span>Free rooms: {{freeRooms}}</span>
</a> --}}


{{!-- <a href="" class="added-hotel">
    <img src="https://image.freepik.com/free-vector/flat-hotel-building_23-2148162501.jpg" alt=""
        class="picture-added-hotel">
    <h3>Hilton Toronto</h3>
    <span>Free rooms: 42</span>
</a>
<a href="" class="added-hotel">
    <img src="https://image.freepik.com/free-vector/flat-hotel-building-town_52683-10040.jpg" alt=""
        class="picture-added-hotel">
    <h3>Auckland Inn</h3>
    <span>Free rooms: 35</span>
</a>
<a href="" class="added-hotel">
    <img src="https://image.freepik.com/free-vector/showplace-illustration-with-all-famous-buildings-linear-banner_1416-984.jpg"
        alt="" class="picture-added-hotel">
    <h3>Hotel Berlin</h3>
    <span>Free rooms: 15</span>
</a> --}}


{{!-- <div class="card mb-4">
    <img class="card-img-top" src="{{imageUrl}}" alt="Card image cap" width="400">
    <div class="card-body">
        <h4 class="card-title">{{title}}</h4>
        {{#unless username}}
        <small class="float-right">Enrolled: {{userCount}}</small>
        {{/unless}}
    </div>
    {{#if username}}
    <div class="card-footer">
        <a href="/course/{{_id}}" class="btn btn-primary">Details</a>
        <small class="float-right">{{createdAt}}</small>
    </div>
    {{/if}}
</div> --}}